body {
    font-family: Arial, Helvetica, sans-serif;
}

.fundo {
    background-color: rgb(149, 255, 255);
}

.texto {
    text-align: center;
}

.imagem {
    position: relative;
    align-items: center;
    border: solid black;
}

.link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.link:hover {
    color: brown;
}